
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spiderkeeper</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
{#    <form class="form-horizontal" method="post" action="/register">#}
{#        <div class="control-group">#}
{#            <label class="control-label">用户名</label>#}
{#            <div class="controls">#}
{#                <input type="text" class="input-xlarge" name="username">#}
{#            </div>#}
{#        </div>#}
{#        <div class="control-group">#}
{#            <label class="control-label">密码</label>#}
{#            <div class="controls">#}
{#                <input type="password" class="input-xlarge" name="password">#}
{#            </div>#}
{#        </div>#}
{#        <div class="form-actions">#}
{#            <input type="submit" class="span-primary" value="注册">#}
{#        </div>#}
{#    </form>#}
    <form class="form-horizontal" method="post" action="/login">
        <div class="control-group">
            <label class="control-label">用户名</label>
            <div class="controls">
                <input type="text" class="form-control" name="username" placeholder="请输入用户名">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">密码</label>
            <div class="controls">
                <input type="password" class="form-control" name="passwd" placeholder="请输入密码">
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" class="btn btn-default btn-lg active" value="登录">
        </div>
    </form>
</body>
</html>